*{padding: 0%;margin: 0%;}
body{font-family:"young Serif",serif}
.section-one{background-color: black;color: white;padding: 20px;}
.section-one__home{background-color: orangered;text-decoration: none;color:white;
margin-top: 10px;margin-left: 5px;margin-right: 5px;margin-bottom:10px;padding: 5px;}
.section-one__title{font-size: 60px;}
.section-one__role{font-size: 30px;margin-top: 10px;}
.container{padding:50px;}
.section-2{margin-top: 100px;margin-bottom: 100px;text-align: center;padding: 20px;}
.section-3{background-color: black;color: white;vertical-align: bottom;padding: 20px;}

